/**** Elementos de diseño *************************/
:root{
    --first-color:#456BE6;
    --first-alpha-color:#456be680;
    --second-color:#583080;
    --second-alpha-color:#58308080;
    --third-color:#9F87B3;
    --black:black;
    --black-code:#272822;
    --black-alpha: #00000080;
    --white:white;
    --white-alpha:#FFFFFF80;
    --gray-light:rgb(223, 222, 207);
    --gray-color:gray;
    --gray-dark:rgb(63, 62, 62);
    --text-color:rgb(46, 46, 46);
    --link-color: #B88027;
    --font-principal: sans-serif;
    --ventana_pc: 1000px;
}
/**** Reseteos ******************************************************/
html{
    box-sizing: border-box;
    font-family: var(--font-principal);
    font-size: 20px;
    color: var(--text-color);
    scroll-behavior: smooth;
}   
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    /*overflow-x: hidden ;/*Evita scroll horizontal*/
    background-color: var(--gray-light);
}
a{
    color: var(--link-color);
    text-decoration: none;
}
a:hover{opacity: 0.75;}
h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1rem;}
h5{font-size: 0.75rem;}
img{
    /*se ajusta al ancho del contenedor*/
    width: 100%;
    height: auto;
}
p{
    line-height: 1.6;
    text-indent: 2rem;
}/*interlineado*/

/**** Componentes *************************/
/**** Utilidades *************************/

/**** Estilos del sitio *************************/

.alert, .codes, .note{
    margin: 1.2rem 0;
    padding: 0.6rem;
    border-left: var(--second-color) 0.5rem solid;
    border-radius: 0.25rem;
    background-color: rgb(255, 238, 180);
}
.codes{
    color: var(--white);
    background-color: var(--black-code);
}
.note{background-color: var(--first-alpha-color);}
.contenedor{padding: 0.75em;}
.content{margin-bottom: 1.2rem;}
.content-table{
    width: 90%;
    margin: 0 auto;
    border-spacing: 0.1rem;
    border-collapse: separate;
    margin: 1rem;
}
.content-table tbody tr:nth-child(even){
    color: var(--text-color);
    background-color: var(--second-alpha-color);
}

.content-table th, .content-table td{
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--first-alpha-color);
} 
.content-table th{
    color: var(--white);
    background-color: var(--first-color);
}
.content-table th[colspan]{
    background-color: var(--second-color);
}

.btn-menu{
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    cursor: pointer;
    color: var(--gray-dark);
}
.btn-menu:hover{
    color: var(--gray-color);
}
.logo-materia, .btn-menu{ 
    text-align: center;
    max-width: 2.35rem;
    margin: 0 auto 0.5rem auto;
}

.link-reference{
    width: 100%;
    height: 2rem;
    /* background-color: var(--gray-color); */
    transition: all 0.5s;
}
.link-reference ul{
    list-style: none;
    display: none;
}
.link-reference li{
    background-color: var(--gray-light);
    margin: 0.3rem 0;
}
.link-reference:hover{
    height: 100%;
    padding: 0.6rem;
}
.link-reference:hover>ul{display: block;}
.materias{
    display: block;
    width: 100%;
    height:auto;
    margin: 0.5rem 0;
    border-top: 2px solid black;
    padding: 0.25rem;
}
.materia-selected{
    background-color:  darkkhaki;
}
.materias>img{
    width: 90%;
}
.section{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: var(--gray-dark) 0.15rem solid;
}
.section-title{
    padding: 0.3em;
    margin: 0 0 0.5rem 0;
    border-radius: 0.15rem;
    color: var(--white);
    background-color: var(--first-color);
}
.title-concept, .title-aux{
    color: var(--white);
    background-color: var(--second-color);
    padding: 0.3em;
    border-radius: 0.15em;
    /* display: inline-block; */
    margin: 0.5rem 0;
}
.title-aux{
    width: fit-content;
    color: var(--white);
    background-color: var(--text-color);
}
.title-codes{
    color: var(--white);
    margin-bottom: 1rem;
}
/* ************************************************************************ */
/* ************************************************************************ */


@media screen and (min-width:480px){
    
    main{
        margin: 0 auto;
        max-width: var(--ventana_pc);
        min-height: 100vh;
        display: flex;
    }
    
     aside{
        padding: 0.75rem;
        flex-basis: 4rem;
    }
    
    dl[class="content"]>dt{
        font-weight: bold;
        margin: 0.5rem 0;
    }
    dl[class="content"]>dd{
        padding-left: 2rem;
        margin-bottom: 1rem;
    }

    aside nav{
        height: 100vh;
        position: sticky;
        top: 0.75rem;
    }
    nav ul{
        list-style: none;
    }
    nav ul li{color: var(--link-color);}
    nav ul li:hover{
        cursor: pointer;
        color: var(--white);
    }
    nav ul li:hover > label{
        cursor: pointer;
    }
    
    nav li{
        padding: 0.4em ;
        border-top: var(--third-color) thin solid;
        background-color: var(--gray-light);
        cursor: pointer;
        transition: all 0.3s ease;
    }
    nav li:hover{background-color: var(--first-color);}
    nav li:hover > a{color:var(--white);}
    nav li > ul{display: none;}
    nav li:hover>ul{ 
        width: 15rem;
        display: block; 
        position: absolute;
        left: 15rem;
        box-shadow: 0rem 0rem 0.5rem var(--gray-dark) ;
    }

    /*     
    pre{
        width: var(--ventana_pc);
    } */
    ul[class="content"], ol[class="content"]{
        padding-left: 3rem;
    }
    ul[class="content"] li, ol[class="content"] li{
        margin-bottom: 0.3rem;
    }
    
    .menu{
        background-color: var(--gray-light);
        box-shadow: 0rem 0rem 0.5rem var(--gray-dark) ;
        width: 2rem;
        padding: 1rem;
        position:fixed; 
        /* left: 12rem; */
        top: 0.5rem;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms;
        /* z-index: 100; */
    }
    .contenedor{width: 47rem;}
    .ilustracion{
        width: 80%;
        margin: 0 auto;
    }
    .bloques, #check-menu{
        display: none;
    }
    .section{
        display: none;
    } 
    .bloques:checked + .section{
        display: block;
    }
    #check-menu:checked+.menu{
        visibility: visible;
        opacity: 1;
        width: 20rem;
    }
}